h1 {
  color: #dc9e82;
  display: flex;
  justify-content: center;
}
.home-section {
  background-color: #fee4c4;
  display: flex;
  justify-content: center;
}
.home-section p {
  color: #5a3e2b;
  font-size: 30px;
  word-spacing: 5px;
}
.container {
  background-color: bisque;
}
button {
  background-color: brown;
  border: 2px;
  border-radius: 100px;
  padding: 17px 22px 17px 22px;
  margin-right: 10px;
  color: white;
}
.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fee4c4;
}
a button {
  cursor: pointer;
}
button:hover{
    background-color:maroon;
    transition: scale(1.05);
}
.container-heading{
    color:black;
}
img{
  height: 300px;

}
.skills {
  padding: 40px;
  text-align: center;
  background-color: #FEE4C4; 
}

.skills h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #2D2A26;
}

.skills-box {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.skill {
  background-color: #6A4E42;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.skill:hover {
  background-color: #4E342E;
  transform: translateY(-5px);
}
.projects {
  padding: 50px 20px;
  background-color: #FEE4C4;
  text-align: center;
  display:flex;
  justify-content: center;
}

.projects h2 {
  font-size: 30px;
  margin-bottom: 30px;
  color: #2D2A26;
}

.project-card {
  max-width: 350px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  padding: 15px;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.project-card h3 {
  margin: 15px 0 10px;
  font-size: 20px;
}

.project-card p {
  font-size: 14px;
  color: #555;
}

.project-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.btn {
  padding: 10px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.live {
  background-color: #6A4E42;
}

.github {
  background-color: #2D2A26;
}

.btn:hover {
  opacity: 0.85;
}
 .project-card p{
  font-size: large;
}
.Pro-ject{
  background-color: bisque;
  
}
 h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  color: #2D2A26;
}
