.nav-section{
    display: flex;
    align-items:center;
    gap:200px;

}
.navbar{
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: #444553;
    color:#FDFDFE;
    height: 60px;
    list-style: none;
}

 .red{
    color: mistyrose;
    font-size: larger;
    text-decoration: none;
}
li{
    list-style: none;
    display: flex;
    justify-content: end;
    cursor: pointer;
}
.iconn{
    cursor: pointer;
    display: flex;
    justify-content:first baseline;
    align-items: end;
    background-color: #FEE4C4;
}